.contact {
    display: flex;
    justify-content: space-between;
    text-align: left;
    background-color: var(--color-bg-light-gray);
  }
  
  .contact__info {
    margin: 50px 20px; /* Adjusted for better responsiveness */
    font-size: 20px;
    width: 50%; /* This width will apply within the new margins */
    box-sizing: border-box;
    /* padding: 0 20px; */ /* The new margin includes side spacing, so padding might be redundant or can be adjusted if needed */
  }
  
  .contact__title {
    font-size: 48px;
    font-family: var(--font-headings);
  }
  
  .contact__subtitle,
  .contact__text,
  .contact__location {
    font-family: var(--font-body);
  }
  
  .contact__button {
    display: block;
    text-align: center;
    margin-left: 0;
    margin-right: auto;
    background-color: var(--color-primary-green);
    color: var(--color-text-light);
    width: 200px;
    height: 56px;
    border-radius: 5px;
    border: none;
    font-family: var(--font-headings);
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .contact__map {
    width: 50%;
    box-sizing: border-box;
    padding: 0 20px;
  }
  
  .contact__iframe {
    width: 100%;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .contact {
      flex-direction: column;
    }
  
    .contact__info,
    .contact__map {
      width: 100%;
      margin: 0 auto;
      padding: 10px;
    }
  
    .contact__iframe {
      height: 300px;
    }
  }
  